body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#menu {
  margin: 10px;
}

#content div {
  display: inline-block;
  margin: 2px;
  background-color: orange;
  color: white;
  padding: 8px;
  width: 100px;
  height: 14px;
  text-align: center;
}
